<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form id="userForm">
    <div>
        <label for="name">Ім'я:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Створити</button>
    <div id="responseMessage"></div>
</form>

<script>
    document.getElementById('userForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = {
            name: document.getElementById("name").value,
            password: document.getElementById("password").value
        }

        console.log(JSON.stringify(formData));
        fetch('http://127.0.0.1:3001/user/create', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
            credentials: "same-origin",
            mode: "no-cors"
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                document.getElementById('responseMessage').innerHTML = '<span class="success-message">Користувача створено успішно!</span>';

                const userList = document.getElementById('users-list');
                const newUserItem = document.createElement('li');
                newUserItem.textContent = formData.name;
                userList.appendChild(newUserItem);
            })
            .catch(error => {
                if (error.message === '400') {
                    document.getElementById('responseMessage').innerHTML = '<span class="error-message">Помилка при створенні користувача: неправильні дані.</span>';
                } else if (error.message === '500') {
                    document.getElementById('responseMessage').innerHTML = '<span class="error-message">Помилка сервера. Спробуйте пізніше.</span>';
                } else {
                    document.getElementById('responseMessage').innerHTML = '<span class="error-message">' + error.message + '</span>';
                }
            });
    });
</script>

</body>
</html>
