<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
I'm users!!! Man

<!--<script>-->
<!--    (async () => {-->
<!--        const promise = fetch("/user/all");-->

<!--        const response = await promise;-->

<!--        // console.log();-->
<!--        const users = await response.json();-->
<!--        console.log(users);-->
<!--        document.getElementById("users").textContent = JSON.stringify(users);-->
<!--    })()-->
<!--</script>-->

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
    const socket = io("http://127.0.0.1:3001");

    socket.on("event", data =>{
        console.log(data);
    });

    setInterval(()=>{
        socket.emit("event", "DATA from CLIENT");

    }, 500)
</script>

<div id="users"></div>
</body>
</html>
</html>
